<nav class="navbar navbar-expand-lg " id="navbar">
    <div class="container-fluid" style="background-color: #1a1f1b;">
      <img src="../assets/logo.png" alt="logo" class="logo" data-aos="fade-zoom-in"
      data-aos-easing="ease-in-back"
      data-aos-delay="300"
      data-aos-offset="0">
      <a class="navbar-brand text-light logoName" href="#" data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="3000">Piyumal</a>
     
      <div class=" navbar " id="navbarSupportedContent ">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-evenly px-3 " >
          <li class="nav-item">
            <a routerLink="/" routerLinkActive="active" class="nav-link active text-light" aria-current="page"  data-aos="zoom-in-left" data-aos-duration="800">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/about"  routerLinkActive="active" class="nav-link text-light"  data-aos="zoom-in-left" data-aos-duration="1200">About Us</a>
          </li>
          <li class="nav-item">
            <a routerLink="/menu" routerLinkActive="active" class="nav-link text-light" data-aos="zoom-in-left" data-aos-duration="1600">Menu</a>
          </li>
          <li class="nav-item">
            <a routerLink="/event" class="nav-link text-light" data-aos="zoom-in-left" data-aos-duration="2000">Event</a>
          </li>
          <li class="nav-item ">
            <a routerLink="/contact" class="nav-link text-light" data-aos="zoom-in-left" data-aos-duration="2400">Contact</a>
          </li>
        </ul>
        <form class="d-flex" role="search"  data-aos="zoom-in" data-aos-duration="2000">
          <input
            class="form-control mr-2 mx-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success text-light" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
<section class="section">
    <div class="left ">
        <div>
            <p data-aos="zoom-out-right"
            data-aos-duration="1000"
            data-aos-easing="ease-in-sine">I'm Nipuna Piyumal. </p>
            <h1>
                I'm a Software Engineer
            </h1>
        </div>
        <button data-aos="fade-up"
        data-aos-duration="1000" type="button" class="btn btn-success">See More..</button>

    </div>
    <div class="right" >
        <img data-aos="fade-down" data-aos-duration="1500" data-aos-easing="linear" src="../../assets/478daad2e84afef9e9532ae8f7b3becc.jpg" class="rounded float-end" alt="...">
    </div>
</section>

